@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a {
    color: black !important;
}

.brand-logo {
    font-family: 'Grand Hotel', cursive;
}

.mycard {
    margin-top: 30px;
}

.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(112, 180, 235) !important;
    box-shadow: 0 1px 0 0 rgb(102, 184, 209) !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    margin-bottom: 5%;
    width: 30%;
}

.card {
    border-radius: 10px;
}

.home-card {
    max-width: 500px;
    height: auto;
    margin: 26px auto;
}

@media (max-width: 735px) {
    .profile-title {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 30px;
    }
}